body{
	text-align: center;
	/*background-color: #01edb7;*/
	background: url("../img/field.png") 50% 50% no-repeat;
	margin: auto;
}

h1{
	color: black;
	/*color: #fc4600;*/
	font-size: 60px;
	margin: 40px 0px 0px;
}

h2{
	color: black;
	font-size: 40px;
}

#countdown-wrapper{
	color: #fff;
	font-size: 30px;
}

.time-wrapper{
	position: relative;
	padding: 30px;
	border-radius: 40%;
	display: inline-block;
	width: 250px;

}

.time-wrapper > div{
	padding: 15px;
	display: inline-block;
}

.time-text{
	padding-top: 5px;
	font-size: 20px;
}

#kickoff-wrapper{
	margin-top: 50px;
	font-size: 70px;
	display: none;
	color: #ff852d;
}

img{
	position: absolute;
	max-width: 90%;
}

















